#intro{
	font-size: 25px;
	font-weight: 10;
}

.genero{
	font-size: 30px;
	color: #ff0066;
	margin: auto;
	border: 2px solid #ff0066;
	margin-top: 20px;
	border: 2px solid #ff0066;
	border-radius: 10px 10px;
	padding: 10px;
	background-color: white;
}