{% extends 'base.html' %}
{% block discos %}

<div id="Contenido">
  <span id="intro">A continuaci&#769on se visualizara&#769n las u&#769ltimas novedades musicales de nuestro pai&#769s</span>
  <div>
    <p><span class="genero">Latino</span></p>
      <iframe width="340" height="230" src="https://www.youtube.com/embed/ZNN7NTl83cI" frameborder="0" allowfullscreen></iframe>
      <iframe width="340" height="230" src="https://www.youtube-nocookie.com/embed/kkx-7fsiWgg?list=RDkkx-7fsiWgg" frameborder="0" allowfullscreen></iframe>
  </div>
  <div>
    <p><span class="genero">Dance</span></p>
      <iframe width="340" height="230" src="https://www.youtube-nocookie.com/embed/EoYOCxP6yIA" frameborder="0" allowfullscreen></iframe>
      <iframe width="340" height="230" src="https://www.youtube-nocookie.com/embed/awa188svgmg" frameborder="0" allowfullscreen></iframe>
  </div>
  <div>
    <p><span class="genero">Rock</span></p>
      <iframe width="340" height="230" src="https://www.youtube-nocookie.com/embed/kXYiU_JCYtU" frameborder="0" allowfullscreen></iframe>
      <iframe width="340" height="230" src="https://www.youtube-nocookie.com/embed/74s3WXMZZ3Y" frameborder="0" allowfullscreen></iframe>
  </div>
</body>

{% endblock %}